@inject State State

<link href="css/Startup.css" rel="stylesheet"/>

<div id="Container" onmousemove="@MouseMove" @onmouseleave="() => MouseLightOn = false">
    <div id="MouseLight" @onclick="ToggleMouseLight"></div>
    
    <div id="OnButtonWrapper">
        <img src="svg/PowerButton.svg" id="OnButton" alt="" @onclick="PowerButtonClick"/>
    </div>
</div>

<style>
    #OnButtonWrapper {
        top: @PowerButtonY;
        left: @PowerButtonX;
    }

    #MouseLight {
        animation: MoveMouseLight 600ms ease-in-out forwards;
        background-color: @(MouseLightOn ? "lightblue" : "#151515");
        filter: blur(@(MouseLightOn ? "3.5vmax" : "0"));
    }
    
    @@keyframes MoveMouseLight {
        to {
            top: @MouseY;
            left: @MouseX;
        }    
    }
</style>

@code {
    private string PowerButtonX = string.Empty;
    private string PowerButtonY = string.Empty;
    private string MouseX = string.Empty;
    private string MouseY = string.Empty;
    private bool MouseLightOn;

    protected override void OnInitialized()
    {
        Random Random = new();
        PowerButtonX = $"{Random.Next(5, 95)}vw";
        PowerButtonY = $"{Random.Next(10, 95)}vh";
    }

    private void MouseMove(MouseEventArgs Args)
    {
        MouseX = $"{Args.PageX}px";
        MouseY = $"{Args.PageY}px";
    }

    private void ToggleMouseLight()
    {
        MouseLightOn = !MouseLightOn;
        StateHasChanged();
    }

    private void PowerButtonClick()
    {
        MouseLightOn = false;
        State.Set(State.Component.Transition);
    }
}