@inject State State

<link href="css/Startup.css" rel="stylesheet"/>

<div id="Container" onmousemove="@MouseMove" @onmouseleave="() => MouseLightOn = false">
    <div id="MouseLight" @onclick="ToggleMouseLight"></div>
    
    <div id="OnButtonWrapper">
        <img src="svg/PowerButton.svg" id="OnButton" alt="" @onclick="PowerButtonClick"/>
    </div>
</div>

<p id="LostMessage">Lost? Click the Left Mouse Button to Turn Your Light On</p>

<style>
    #OnButtonWrapper {
        top: @PowerButtonY;
        left: @PowerButtonX;
    }

    #MouseLight {
        animation: MoveMouseLight 2s ease-in-out forwards;
        background-color: @(MouseLightOn ? "lightblue" : "#151515");
        filter: blur(@(MouseLightOn ? "3.5vmax" : "0"));
    }
    
    @@keyframes MoveMouseLight {
        to {
            top: @MouseY;
            left: @MouseX;
        }    
    }

    #LostMessage {
        animation:  @(MouseLightUsed ? "LostMessageExit 300ms ease-in forwards" : "LostMessageEntry 300ms ease-in forwards");
    }
    
    @@keyframes LostMessageExit {
        to {
            transform: translateY(-100%);
        }
    }
</style>

@code {
    private string PowerButtonX = string.Empty;
    private string PowerButtonY = string.Empty;
    private string MouseX = string.Empty;
    private string MouseY = string.Empty;
    private bool MouseLightOn;
    private bool MouseLightUsed;

    protected override void OnInitialized()
    {
        Random Random = new();
        PowerButtonX = $"{Random.Next(5, 95)}vw";
        PowerButtonY = $"{Random.Next(10, 95)}vh";
        
        while (true)
        {
            if (MouseLightOn is false) continue;

            MouseInfo Mouse = Queue.Dequeue();

            MouseX = Mouse.X;
            MouseY = Mouse.Y;
        }
    }

    private void MouseMove(MouseEventArgs Args)
    {
        Enqueue(new MouseInfo(Args));
    }

    private void ToggleMouseLight()
    {
        MouseLightOn = !MouseLightOn;
        MouseLightUsed = true;
        StateHasChanged();
    }

    private void PowerButtonClick()
    {
        MouseLightOn = false;
        State.Set(State.Component.Transition);
    }
    
    private struct MouseInfo
    {
        public string X { get; }
        public string Y { get; }

        public MouseInfo(MouseEventArgs Args)
        {
            X = $"{Args.ClientX}px";
            Y = $"{Args.ClientY}px";
        }

        public MouseInfo(int X, int Y)
        {
            this.X = $"{X}px";
            this.Y = $"{Y}px";
        }
    }

    private readonly Queue<MouseInfo> Queue = new();

    private void Enqueue(MouseInfo Info)
    {
        lock (Queue)
        {
            Queue.Enqueue(Info);
            Monitor.PulseAll(Queue);
        }
    }
}