#NameWrapper {
    --Height: calc(60vw / var(--Golden-Ratio));
    width: 60vw;
    height: var(--Height);
    margin: calc(50vh - var(--Height) / 2) calc(50vw - 30vw);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 3vmax;
    background: #151515;
}

#NameWrapper > h1 {
    margin: 0;
    color: transparent;
    font: 10vmax "Oxygen Mono", monospace;
    display: flex;
    justify-content: space-between;
    background-clip: text;
    -webkit-background-clip: text;
}

